﻿@model LesVoorbeeldCustomHelpersAttributes.Models.Student


<reverse asp-for="@Model.Naam" asp-cap="true"></reverse>

<textarea asp-for="Naam" asp-size-height="10" asp-size-width="40" asp-is-disabled="false">iets</textarea>



